@charset "utf-8";
/*
***移动端样式重置
全局引用***
 */
*{margin: 0; padding: 0;}
body{font-family:"hiragino sans gb", "Microsoft Yahei", Helvetica, Arial, Tahoma; -webkit-tap-highlight-color:rgba(0,0,0,0);}
body,div,a,span,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl.dt.dd.form,button,input,textarea,th,td,img{margin: 0; padding: 0; outline:0; font-style:normal; border:none;font-weight:normal;}
table {border-collapse:collapse;border-spacing: 0}
caption, th, td { text-align: left; font-weight: normal}
a{ text-decoration:none;cursor:pointer;color:#999;}
input{ border:none;}
ol, ul ,li{list-style: none;}
i,em,strong{font-style:normal;}
img{ width:100%; height:100%; max-width:100%; vertical-align:middle; border:none; display: inline-block;}
input,select:focus{
    border-width:0;
    border-color:white;
    border-style:none;
    background:none;
    border:none;
    outline:medium;
    alpha:0;
    appearance:none;
    -webkit-appearance:none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-modify:read-write-plaintext-only;
}
input,button,select,textarea{outline:none}
textarea{resize:none}
body{max-width: 540px; margin-left:auto; margin-right: auto;}
.ellipsis{overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.ellipsis2{overflow:hidden; text-overflow: ellipsis; display:-webkit-box; -webkit-line-clamp:2;
    -webkit-box-orient:vertical;}
.main{width: 92%; margin-left:auto; margin-right: auto;}


@charset "utf-8";
/*公共样式  开始*/
.fl{float:left;}
.fr{float:right;}
.oh{overflow:hidden;}
.cb{clear:both;}
.tc{text-align:center;}
.bc{margin-left:auto; margin-right:auto;}
.fz0{font-size:0;}
.pr{position:relative;}
.pa{position:absolute;}
.fff{color:#fff;}
.bgfff{background: #fff;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.br4{border-radius: 4px;}
.br50{border-radius: 50%;}
.tl{text-align: left;}
.tr{text-align: right;}
.none{display: none;}
/*以下的公共样式是由项目决定的*/
/*修改input的placeholder的默认颜色*/
input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #a5a5aa;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #a5a5aa;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #a5a5aa;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #a5a5aa;
}
/*
html {font-size:64px; }先设定一个根元素标注,防止设定根元素标准的js没加载进来时页面布局混乱的现象以rem为单位,此标准与设计稿相同尺寸10rem = 640px;
*/
.a0a0{color: #a0a0a0;}
html {font-size:64px; }
.bb{border-bottom: 1px solid #d5d5d5;}
.bt{border-top: 1px solid #d5d5d5;}
.e50{color:#e50065;}
.c000{color:#000;}
.mt14{margin-top:14px;}
.gap{width:100%; height:14px; background: #f2f2f6;}
.btnLg{width:100%; height:44px; line-height: 44px; text-align: center; color: #fff; background:#e50065; font-size:16px; border-radius: 4px; display:block; margin-left: auto; margin-right:auto; margin-top:32px; }
.main{width:91.87%; margin-left:auto; margin-right:auto;}

a .a000{color:#000; }
html,body{background: #f2f2f6; overflow-x:hidden; width:100%; height:auto; min-height:100%; }
body{ font-size: 14px;}
/*登录模块下的 长短行*/
.cdBox{background: #fff;}
.cdCont{width:95.93%; float:right;}
.cdhang{width:100%; font-size: 0;}
.cdhang img{width:16px; height:18px;  padding:18px 0; margin-left:4px; margin-right:12px; float: left; }
.cdhang span{ height:18px;  padding:18px 0; margin-right:12px; display: inline-block;  font-size: 14px;}
.cdhang input{width:126px; height:18px;  padding:18px 0; font-size: 14px;}
.cdhang input.getMa{width:88px; height:34px; font-size: 14px; background: #e50065; color: #fff; position:absolute; right:16px; top:10px; border-radius: 2px; padding:0;}
.cdhang input.getMa.disable{background: #ccc;}
.cdhang .input_box{margin-left: 32px; margin-right: 12px; height: 100%; }
.cdhang .input_box input{width: 100%;}
.cdhang .ml100{margin-left: 100px;}
.cdhang .ml72{margin-left: 72px;}
.cdhang .mr100{margin-right: 110px;}
/*登录模块下的 长短行 end*/
/*index模块 more  */
.moreBox{padding:14px 0; float: right; overflow: hidden; width:96%; height: 20px; line-height: 20px;}
.hdmoreBox{padding:14px 0; float: right; overflow: hidden; width:96%; }
.moreImg{ margin-right: 10px;  margin-top: 2px;}
.moreImg img{width:16px; height:16px; display: block;}
.moreShow img{width:18px; height:18px; display: block;}
.moreName{height:20px; line-height: 20px; font-size: 16px; color: #333;}
.moreBox .main{margin-left: 0;}
.moreBox .more{display: inline-block; font-size: 14px; height:20px; line-height:20px; padding-right: 14px; background: url("../images/right.png") no-repeat right center;background-size:8px 14px; color:#a0a0a0; }
.moreMain{width:94.06%;}
.tiaozhuan{}
.tiaozhuan a{display: inline-block;}
.tiaozhuan a .moreName{color: #333;}
.tza{display: inline-block;}
/*index模块 more  end*/

/*头部*/
/*header*/
header{width:100%; background: #e50065; padding:8px 0;  height:32px; font-size: 0;}
.xqHeader{background: none;}
header span{display: inline-block; font-size: 16px;}
.place{width:15.94%; text-align: left;}
.back{width:20%;  text-align: left; background: url("../images/left.png") no-repeat 8px center; background-size:10px 16px;}
.ma{width:20%; color: #fff; font-size: 16px; text-align: right; margin-top: 2px;}
.search{width:60%; text-align: center; margin:0 auto;color: #fff; font-size: 0;}
.mainTitle{width:60%; text-align: center; margin:0 auto;color: #fff; font-size: 14px;}
header .place,header .back,header .ma,header .search,header .mainTitle{ height:32px; line-height: 32px;}
header .ser_btn{width:20%; text-align: center; height:32px; line-height: 32px;}
.sear_box .search{width: 80%;}
.sear_box .search input{width: 100%; box-sizing: border-box; background:#eeeff3 url("../images/search.png") no-repeat 10px center; background-size:13px 13px; }
.sear_box .ser_btn{ color: #e50065;}
.sear_box{background: #fff; border-bottom: 1px solid #eee; position: fixed; left:0; top:0; width: 100%;}
/*头部 end*/
/*底部导航 */
/*footer*/
footer{padding-top:12px;  overflow: hidden; font-size: 0; position: fixed; left:0; bottom:0; width: 100%; height:auto; background:url("../images/footerBg.png") repeat-x 0 0 ; background-size:100% 12px; z-index: 20;}
.footer{background: #fff; padding:5px 0; height:38px; }
.botNav{width:40.46%;}
.botNav a{display: inline-block; width:50%;}
.botNav a img{display:block; width:22px; height:38px; margin:0 auto;}
.botNav a img:nth-of-type(2){display: none;}
.botNav a.active img{display:none;}
.botNav a.active img:nth-of-type(2){display: block;}
.center{width:19.08%; font-size: 0; text-align: center; position: relative;}
.center img{width:56px; height:56px; display: block; position: absolute; left:0; top:-16px;}
/*底部导航 end*/

/*发布css*/
.fbBox{width:100%; height:100%; position: fixed; left:0; top:0; background: rgba(0,0,0,0.9); z-index: 16; display: none;}
.fbCont{width: 100%; height:auto;  overflow: hidden; position: absolute; left:0; bottom:100px;}
.fbCont a{display: block; float: left; text-align: center; width: 50%; margin-top: 10px;}
.fbCont a img{display: block; width:80px; height:80px; margin-left: auto; margin-right: auto;}
.fbCont a p{color:#fff; font-size: 14px; margin-top: 22px;}
.fbClose{width:100%;  position: absolute; left:0;bottom:0;}
.fbClose img{display: block; width:56px; height: 56px; margin:30px auto 12px; }
/*发布css end*/
/*公共样式  结束*/
/*tab */

.qyTab{font-size: 0; overflow: hidden; border-bottom:1px solid #d5d5d5; position: fixed; left:0; top:0; width: 100%; background: #fff; z-index: 3;}
.qyTab div{width:33.33%;  float:left; font-size: 0; text-align: center;}
.qyTab div span{width:70px; display: inline-block; font-size: 14px; color:#323232; padding:14px 0; border-bottom: 2px solid #fff; text-align: center;}
.qyTab .active span{ color: #e50065;  border-bottom: 2px solid #e50065;}
.qyTab2 div{width:50%;}
.qyTab4 div{width:25%;}
/*tab  end*/


