@charset "utf-8";

/*
Author：张浩华
Date：2011.11.25 0:12
Version：SimpleTree 1.0
*/

.st_tree{ 
	padding:10px;
}

/* 超链接 */
.st_tree a{ 
	text-decoration:none; 
}

/* 鼠标经过的超链接 */
.st_tree a:hover{ 
	color:#ee8b3c;
	text-decoration:none;
}

/* 菜单 */
.st_tree ul{ 
	padding:0 18px; 
	margin:0; 
}

/* 菜单项 */
.st_tree ul li{ 
	font-size:13px; 
	color:#222; 
	/*line-height:18px; */
	cursor:pointer;
	list-style:none; 
	background:url(imgs/tree_add1.png);
	background-repeat:no-repeat; 
	padding:0 0 3px 20px;
}

/* 子菜单 */
.st_tree ul li ul{}

/* 子菜单项 */
.st_tree ul li ul li{}

/* 子菜单的父节点 */
.st_tree .folder{ 
	/*list-style-image:url(imgs/st_icon.png);*/
	background:url(imgs/floder.png) no-repeat 6px 3px;
	/*background-repeat:no-repeat;*/
	padding:0 0 0 20px; 
}

/* 展开的父节点 */
.st_tree .open{ 
	/*list-style-image:url(imgs/st_icon_open.png);*/
	background:url(imgs/open.png) no-repeat 6px 3px;
	/*background-repeat:no-repeat;*/
	padding:0 0 0 20px; 
}


/*我自定义部分*/
.st_tree li{margin-top: 10px;}
.st_tree .tree_first{}

a{color:#333;}
a:hover{color:#333;}
.st_tree  .tree_first a:hover{color:#333; text-decoration: none;}
.st_tree  .tree_first{border-bottom: 1px solid #eee;}
.st_tree  .tree_first.folder{height:30px; line-height: 30px; background: #fff; padding-left: 6px; margin-top: 0;}
.st_tree  .tree_first.folder:hover{background: #ee8b3c; color: #fff;}
.st_tree  .tree_first.folder:hover a{background: #ee8b3c; color: #fff;}
.st_tree  .tree_first.open{background: #ee8b3c; color: #fff; padding-left:6px; margin-top: 0; }
.st_tree  .tree_first.open a{background: #ee8b3c; color: #fff;}
/*最后一级点击后：*/
.st_tree li.forbid{background: url(imgs/tree_add2.png) no-repeat; color: #999; cursor: not-allowed;}
.st_tree li.forbid a{color: #999; cursor: not-allowed;}
.st_tree li.forbid:hover a{color: #999;}