<div class="c-header">
    <div class="c-logo main oh">
        <img class="limg fl" src="__IMG__/logo.png" alt=""/>
        <!--<span class="fl">消消乐</span>-->
        <div class="c-nav">
            <a href="{:('/')}" class="active">首页</a>
            <i></i>
            <a href="{:U('Home/Index/introduce')}" >公司介绍</a>
            <i></i>
            <a href="{:U('Home/Index/product')}" >公司产品</a>
            <i></i>
            <a href="{:U('Home/Index/tel')}" >联系我们</a>
        </div>
        <span class="reglogin fr oh">
                <include file="Public/gologin" />
           </span>
        <span class="eye fr f12">本游戏适合18岁（含）以上玩家进入</span>
    </div>
</div>