@charset "utf-8";
/* 全局引用 */
*{margin: 0; padding: 0;}
html {font-size:640px; }
body{ font-family: "Microsoft Yahei", Arial, Tahoma, "hiragino sans gb", Helvetica; -webkit-tap-highlight-color:rgba(0,0,0,0);}
h1,h2,h3,h4,h5,h6{font-weight:normal; font-size:100%;}
body,div,a,span,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl.dt.dd.form,button,input,textarea,th,td,img{margin: 0; padding: 0; width:100%; height:100%; border:none;}
a{ text-decoration:none;}
a,a:hover,a:visited,a:link {color: #000;}
input{ border:none;}
li{ list-style:none;}
i{font-style:normal;}
img{ max-width: 100%;vertical-align: middle;border:none; display: block;}
input,select,a:focus{
	border-width:0;
	border-color:white;
	border-style:none;
	background:none;
    border:none;
    outline:medium;
	alpha:0;
	appearance:none;
	-webkit-appearance:none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-modify:read-write-plaintext-only;

}
/*公共样式  开始*/
.fl{float:left;}
.fr{float:right;}
.oh{overflow:hidden;}
.cb{clear:both;}
.tc{text-align:center;}
.wa{width:auto;}
/*公共样式  结束*/

/*房屋出售 fwcs.html  样式 开始*/
/*头部 开始*/
#header{width:100%; height:auto; overflow:hidden; background: #de3435; padding-bottom:0.0375rem;}
.headerBox{width:0.91rem; margin:0.0375rem auto 0; height:0.065rem;line-height: 0.065rem;}
.fanhui{width:0.0375rem; height:0.065rem;}
.search{width:0.059rem; height:0.065rem; margin-right:0.064rem;}
.share{width:0.059rem; height:0.064rem;}
.fabu{width:0.065625rem; height:0.0625rem;}
.store{width:0.064rem; height:0.064rem; margin-right:0.064rem;}
.headerBox span{font-size:0.055rem;color:#fff; display: block;}
/*头部 结束*/
/*头部导航 开始*/
#MSbox{width:100%; height:auto; overflow: hidden;}
#navBox{width:100%; height:auto;  overflow: hidden;}
.nav{width:170%; height:auto; font-size: 0;}
.nav span{display: inline-block; width:0.109rem; height:0.12rem; line-height:0.12rem; border-bottom:2px solid #fff; text-align: center; margin:0 0.025rem;font-size: 0.04375rem;}
.nav span.active{border-bottom:2px solid #de3435; color:#de3435;}
/*banner 轮播 开始*/
#tabPic{ overflow:hidden; position:relative; height:0.3125rem;}
#picList{ overflow:hidden;width:500%;}
#picList li{float:left; width:20%; height:0.3125rem;}
#picList img{max-width:100%; display: block;}
#tabPic nav{height:0.025rem; width:auto; right:0.04rem; bottom:0.04rem; position:absolute;}
#tabPic nav a{float:left; display:block;  width:0.025rem; height:0.025rem; border-radius:50%; background:#fff; opacity:0.4; margin-left:0.04rem;}
#tabPic nav a.active{ opacity:1;}
/*下拉列表  开始*/
#MSselectBox{width:100%; height:auto;}
#MSselectBox .selectNav{ height:0.053rem; line-height:0.043rem; float:left;width:24%; text-align: center; border-right: 1px solid #ccc; margin:0.034rem auto; font-size: 0; position:relative;}
#MSselectBox>div.Brn{border:none;}
#MSselectBox span{ font-size:0.034rem; display: inline-block; width:auto; height:0.053rem; line-height:0.053rem; background:url("../images/downbg.png") no-repeat right center; background-size:0.034rem 0.015rem; padding-right:0.05rem;}
#MSselectWrap{position:relative; width: 100%; height:auto;  z-index:5;}
#MSselectBox .area{ position:absolute; left:0; top:0.087rem;  width:100%; height:auto; padding-bottom:0.059rem; overflow:hidden; display: none; background: #fff;text-align: center; z-index:10;}
.area p{width:100%; height:0.1375rem; border-bottom:1px solid #ccc; font-size:0.044rem; line-height:0.1375rem;}
.area p.chang{height:auto;line-height:0.08rem;}
.area p:first-of-type{border-top:1px solid #ccc;}
/*下拉列表  结束*/
/*商铺列表  开始*/
.shopBox{width:100%; height:auto; overflow:hidden; border-top:1px solid #ccc;}
.shopMode{margin-top:0.034rem; padding-bottom:0.034rem;  border-bottom:1px solid #ccc; font-size: 0;}
.shopL{width:0.303rem; height:0.22rem;margin-left:0.0406rem;}
.shopR{margin-left:0.04rem; width:0.56rem; height:0.22rem;}
.shopName{width:0.58rem; height:0.0625rem; line-height:0.0625rem; font-size:0;}
.shopName span{float:left; width: auto; display: inline-block;font-size:0.046rem;}
.shopName span.imgBox{ display:inline-block; margin-top:0.01rem; width:0.046rem; height:0.046rem; margin-left:0.02rem; float:right;}
.shopSite{width:0.58rem; height:0.1rem; line-height:0.1rem; font-size:0.04rem; color:#7f7f7f;}
.shopSite>span:first-child{margin-right:0.01rem;}
.shopSite>span:not(:first-child){display: inline-block; width:auto; height:0.05rem; line-height:0.05rem; text-align: center;color:#de3435; border:1px solid #de3435; border-radius:4px; margin-left:0.03rem;padding:0.005rem;}
.fangKind{height:0.05rem;font-size:0.04rem; color:#7f7f7f;}
.fangKind span{display:inline-block; height:0.05rem; line-height: 0.05rem; width:auto; float:left; margin-top:0.01rem;}
.fangKind span:nth-of-type(2){padding-left:0.05rem;}
.fangKind span:nth-of-type(3){padding-left:0.01rem;}
.fangKind span:nth-of-type(4){padding-left:0.02rem;}
.fangKind .price{font-size:0.04375rem; color:#de3435;}
.fangKind .leiImg{width:0.046875rem; height:0.046875rem;}

/*商铺列表  结束*/
/*固定底部 开始*/
.fotBox{width:100%; height:0.15625rem; background:#f9f9f9; border-top:1px solid #d7d7d7; position:fixed; left:0; bottom:0;}
/*固定底部 结束*/
/*返回顶部 开始*/
#MSding{width: 0.125rem; height:0.125rem; position:fixed; right:0.028rem; bottom:0.18rem;; z-index:4;}
/*返回顶部 结束*/
/*房屋出售 fwcs.html  样式 结束*/
/*房屋出租详情 fl_fwczDetail.html  样式 结束*/
#MSDetail{width:100%; height:auto; overflow:hidden; padding-bottom:0.2rem;}
/*banner 轮播 开始*/
#MSDtabPic{width:100%;  overflow:hidden; position:relative; height:0.564rem;}
#MSDpicList{ overflow:hidden;width:600%;}
#MSDpicList li{float:left; width:16.66666666666667%; height:0.564rem;}
#MSDtabPicList img{max-width:100%; display: block;}
#MSDtabPic .navBox{position:absolute; right:0.38rem; bottom:0.04rem; height:0.025rem; width:auto;}
#MSDtabPic nav{height:0.025rem; width:auto;}
#MSDtabPic nav a{float:left; width:0.03rem; height:0.03rem; border-radius:50%; background:#fff; opacity:0.4; margin-left:0.04rem;}
#MSDtabPic nav a.active{ opacity:1;}
#MSDtabPic .xin{width:0.22rem; height:0.093rem; line-height: 0.093rem; border-radius:0.045rem;text-align: center;background:#000; opacity:0.6; position:absolute; right:0.02rem; bottom:0.02rem; font-size:0;}
#MSDtabPic .xin span{display:inline-block; width:0.16rem;height:0.093rem;line-height: 0.093rem; padding-left:0.06rem;font-size:0.032rem; color: #fff;  background:url("../images/xin-bai.png") no-repeat 0.037rem center; background-size:0.053rem 0.046rem;}
#MSDtabPic .zi{width:0.22rem; height:0.093rem; line-height: 0.093rem; border-radius:0.045rem;text-align: center;background:#000; opacity:0.6; position:absolute; right:0.02rem; bottom:0.02rem; font-size:0;}
#MSDtabPic .zi span{font-size:0.04375rem; color: #fff; }
/*轮播结束*/
/*分享到  样式 开始*/
#shareBox{width:100%; height:100%; position:fixed; left:0; top:0; background: rgba(0,0,0,0.4); font-size:0.034rem; color:#000; display: none;}
#shareBox h1{width:100%;font-size:0.048rem; height:0.156rem; line-height:0.156rem; text-align: center; background: url("../images/shareBg.png") no-repeat 0 center; background-size: 1rem 3px; }
.iconBox{width:100%;height:auto; background: rgba(226,226,226,0.9); position:absolute; left:0; bottom:0;}
.iconImgBox{width:0.171rem;height:0.171rem;}
.icon{padding-bottom:0.084rem;}
.iconContent{width:0.171rem; height:auto; float:left; margin-left:0.06rem;}
.iconContent p{margin-top:0.037rem; text-align: center;}
.closeBox{width:100%; height:0.16rem;line-height:0.16rem; background: #fff; text-align: center;font-size:0.048rem;}
/*分享到  样式 结束*/
.fwSite{width:0.928rem; margin:0 auto;}
.fwSite h1{width:0.928rem; margin:0 auto;}
.site{}
/*房屋出售详情 fl_fwcs.html  样式 结束*/




