
@charset "utf-8";
/*公共样式*/
/*Css reset*/
body, div,img, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote，th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li {list-style:none;}
a{ text-decoration:none;}
th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before, q:after{content:' '}
abbr,acronym{border:0;}
img{max-width: 100%; max-height:100%;}
button,input,select,option,textarea{margin:0px; padding: 0px; border: none;outline: none; background: none;}
body{ font-family: "Microsoft Yahei", Arial, Tahoma, "hiragino sans gb", Helvetica; -webkit-tap-highlight-color:rgba(0,0,0,0);}

.box{width:100%; height:auto;overflow: hidden;}
/*提交订单 样式  开始*/
.SOcontent{width:5.4rem; height:auto; margin:4.833rem auto 0; text-align: center; }
.SOcontent .imgBox{width:2.296rem; height:2.324rem; margin: 0 auto;}
.SOcontent h1{font-size:0.426rem; margin-top: 0.833rem;padding-bottom: 0.316rem;}
.SOcontent h2{font-size:0.6rem;}
.SObot{width: 100%; height:1.333rem; line-height:1.333rem; font-size: 0.407rem;border-top:1px solid #ccc; position: absolute; left:0; bottom:0;}
.SObot span{display:inline-block; width:50%; height: 100%; text-align: center; float: left; color:#58ab22; background: #fff;}
.SObot span.active{ background: #58ab22; color:#fff;}
/*提交订单  样式  结束*/
/*我的物品  样式  开始*/
.bb{border-bottom: 1px solid #ebebeb;}
.bt{border-top: 1px solid #ebebeb;}
.btnS1{border:1px solid #58ab22;  color:#58ab22; margin-right:0.64rem;}
.btnS2{ border:1px solid #6c6c6c;  color:#6c6c6c; margin-right:0;}
.MGheader{width:100%; height:1.11rem; line-height: 1.11rem; overflow: hidden;}
.MGheader span{ display:inline-block; width:1.98rem; height:1.1rem; line-height: 1.2rem; overflow: hidden; font-size:0.3888rem; margin:0 0.5585rem; text-align: center; border-bottom: 2px solid #fff;}
.MGheader span.active11{border-bottom: 2px solid #58ab22; color:#58ab22; }
.MGcontent{width:100%; height:auto; overflow: hidden;}
.MGcontent .mode{width:100%; height:auto; display: none;}
.MGcontent .active22{display:block;}
.MGcontent .modeA{width:100%; height:auto;  font-size:0.388rem;}
.MGcontent .Tit{width:100%; height:0.796rem; line-height:0.796rem; font-size:0.3888rem; background:#ebebeb; padding-left: 0.493rem;}
.MGcontent .modeBox{width:100%;height:auto; margin-top:0.314rem; padding-bottom:0.314rem; padding-left:0.315rem; overflow: hidden;}
.MGcontent .modeBox div{float:left;}
.MGcontent .imgBox{width:2.74rem; height:2.037rem; margin-right:0.38rem;}
.MGcontent .conBox{width:2.389rem; height:1.713rem; margin-top:0.129rem;}
.MGcontent .btn{ display:block; width:2.2rem; height:0.8333rem; line-height:0.8333rem;  border-radius:0.037rem; text-align: center; margin-top: 0.326rem;}
.MGcontent .delBox span{ display:block; width:2.2rem; height:0.8333rem; line-height:0.8333rem;border-radius:0.037rem; text-align: center; margin-top: 0.98rem;  margin-left:0.64rem;}
.MGcontent .time{width: 100%; height:auto; margin-top:0.2rem; line-height: 1.037rem; overflow: hidden;}
.MGcontent .timeL{ float:left; width: 60%; height:1.037rem; line-height: 1.037rem; padding-left:0.315rem ; color:#6c6c6c;}
.MGcontent .timeL img{ width:0.34rem; height: 0.34rem; padding-right:0.215rem;}
.MGcontent .timeR{ width:30%; float: right; margin-right:0.5rem; text-align: right;}
.MGcontent .timeR span{ font-size:0.488rem; color:#ff7d23;}
.MGcontent .timeR span.btnW{display:inline-block; width:2.2rem; height:0.8333rem; line-height:0.8333rem;  border-radius:0.037rem; text-align: center; margin-left:0.488rem; }
.MGcontent .conBox2{width: 6.5rem; }
.MGcontent .conBox2 .phone{width: auto;}
.MGcontent .conBox2 .btnBox{width: auto; margin-top:0.326rem;}
.MGcontent .conBox2 span{display:inline-block; width:2.2rem; height:0.8333rem; line-height:0.8333rem;  border-radius:0.037rem; text-align: center;}
.MGcontent .conBox2 .WP{font-size:0.295rem;}
.MGcontent .conBox2 .WSF{ display:inline-block; width:2rem; height:0.537rem; line-height:0.537rem; border-radius: 0.2514rem;  background: #eee url("../images/cellphone.png") no-repeat 0.24rem center; background-size:0.24rem 0.277rem; padding-left:0.2rem;}
.MGcontent .timeR .btnS3{border:1px solid #58ab22;  color:#58ab22;}
.MGcontent .timeR .btnS4{ border:1px solid #6c6c6c;  color:#6c6c6c; margin-right:0;}
.MGcontent .timeR .btnW{display:inline-block; width:2.2rem; height:0.8333rem; line-height:0.8333rem;  border-radius:0.037rem; text-align: center; margin-left:0.488rem; }
.MGcontent .again{width: 100%; height:auto; overflow: hidden; text-align: center; padding:0.2rem 0;}
.MGcontent .again span{display:inline-block; width:2.2rem; height:0.8333rem; line-height:0.8333rem;  border-radius:0.037rem; text-align: center;border:1px solid #58ab22;  color:#58ab22;}
.MGcontent .again span.again1{ margin-right:0.788rem;}
/*我的物品  样式  开始*/
/*个人中心PerCenter.html  样式  开始*/
.PCbox{width:100%; height:auto; overflow: hidden;  background: #fff;}
.PCheader{width:100%;height:auto; overflow: hidden; background:url("../images/Pcbg.png") repeat-x  0 0; background-size:100%; text-align:center; color:#fff; padding-bottom:0.62rem;}
.PCheader h1{font-size:0.796rem; padding-top:0.83rem;}
.PCheader h2{font-size:0.333rem;padding-top:0.314rem;}
.PCheader button{ width:5.555rem;  height:1.148rem; border:1px solid #fff; border-radius:4px; color:#fff; font-size:0.333rem; margin-top:0.83rem;}
.PCmode{height:1.518rem; line-height:1.518rem; margin-left:0.37rem;border-bottom: 1px solid #ebebeb; background: #fff; font-size: 0.426rem; background:url("../images/right.png") no-repeat 8.925rem center; background-size:0.24rem 0.472rem; }
.PCmode img{width:0.527rem; height:0.555rem; margin-right:0.37rem; margin-left:0.1rem;padding-top:0.45rem; float:left;}
.bgf6{width:100%; height:0.37rem;background:#f6f6f6;}
#reddot{float:right; padding-right:1.3rem; display:inline-block; width:0.185rem; height:0.185rem; padding-top:0.24rem;}
/*个人中心PerCenter.html  样式  结束*/