* {margin:0; padding:0;}
ul {list-style:none;}
a {
	color: #999999;
	text-decoration: none;
}
a:link,a:visited, a:hover{
	color: #FF9900;
}
a:active {
	color: #CCCCCC;
}
body {
	background:#999999;
}
#body {
	width:700px;
	margin:10px auto;
	border:thin dotted #CCCCCC;
	background:#666666;
}
#body h3 {
	color:white;
	margin-top:30px;
	margin-left:40px;
	margin-bottom:15px;
}
#nav {
	width:660px;
	height:30px;
	margin:auto;
	background:#FFFFFF;
}
#nav ul {
	height:30px;
	margin-right:10px;
	float:right;
}
#nav ul li {
	line-height:30px;
	width:80px;
	font-size:14px;
	text-align:center;
	font-weight:bold;
	float:left;
}
#cont {
	width:660px;
	margin:auto;
	padding-top:20px;
	padding-bottom:20px;
	background:#FFFFF0;
}
.mes {
	width:630px;
	padding-bottom:15px;
	margin:auto;
	margin-bottom:5px;
	background:#FFFFFF;
	color:#999999;
	border:1px dotted #CCCCCC;
}
.mes .title {
	width:630px;
	/*height:20px;*/
	float:left;
	margin-top:15px;
	margin-left:15px;
	margin-bottom:10px;
}
.mes .title ul li {
	float:left;
	text-align:center;
	margin:5px;
	font-size:13px;
}
.mes .txt {
	margin-left:20px;
	font-size:13px;
}
.mes .txt p {
	margin-top:5px;
}
.mes .rep {
	width:500px;
	margin-top:10px;
	margin-left:20px;
	background:#FFFBFF;
	padding:10px;
	font-size:13px;
	border:1px dotted #FF9900;
}
.mes .rep p {
	margin-top:5px;
	line-height:20px;
	text-indent:15px;
}
#page {
	width:630px;
	height:25px;
	margin:10px auto;
}
#page span {
	float:left;
	font-size:12px;
}
#page ul {
	float:left;
}
#page ul li {
	font-size:12px;
	text-align:center;
	margin:0 5px;
	float:left;
}
#foot {
	width:700px;
	height:30px;
	margin:20px auto;
}
#foot p {
	text-align:center;
	color:#999999;
	font-size:12px;
}
#lev {
	display:none;
	width:630px;
	margin:10px auto;
	font-size:13px;
	color:#999999;
	background:#FFFFFF;
	border:1px dotted #CCCCCC;
	vertical-align:top;
}
#lev form {
	margin:20px;
}
#lev form input {
	height:20px;
	margin-bottom:20px;
}
#lev form select {
	height:25px;
	width:150px;
	margin-bottom:20px;	
}
#lev .c1 {
	width:50px;
	height:28px;
	margin:15px 30px 0;
}
#lev textarea {
	width:400px;
	height:200px;
	margin-top:20px;
	resize:none;
	padding:10px;
	overflow:auto;
}
.login {
	width:560px;
	padding:30px;
	margin:auto;
	margin-bottom:5px;
	background:#FFFFFF;
	color:#999999;
	border:1px dotted #FFFF99;
}
.login p {
	margin-bottom:10px;
	font-size:14px;
}
.login input {
	height:20px;
	width:150px;
	margin:10px;
}
.login .c2 {
	width:50px;
	height:25px;
}
#info {
	width:590px;
	padding:15px;
	padding-top:0;
	margin:auto;
	margin-bottom:5px;
	background:#FFFFFF;
	font-size:13px;
	color:#999999;
	border:1px dotted #FFFF99;
}
#info h4 {
	margin-bottom:10px;
}
#info ul li {
	margin:10px 0;
}
#info .info {
	margin-top:20px;
}

.mes #del {
	font-size:13px;
	display:block;
	margin-top:8px;
	margin-left:18px;
}
.mes .contr .list {
	width:500px;
	/*height:20px;*/
	/*float:left;*/
	margin-bottom:10px;
	overflow:hidden;
}
.mes .contr .list ul li {
	float:left;
	text-align:center;
	margin:5px;
}
.mes .contr {
	width:500px;
	/*height:50px;*/
	margin-left:20px;
	margin-bottom:5px;
	background:#FFFBFF;
	padding:10px;
	font-size:13px;
	border:1px dotted #FF9900;
	overflow:hidden;
}
.mes .contr ul {
	height:20px;
	width:100%;
}
.mes .contr ul li {
	float:left;
	margin:5px 10px;
}
.mes .contr .detail {
	width:500px;
	/*height:100px;
	position:absolute;*/
	z-index:100;
	background:#FAFAFA;
	border:1px dotted #FFFF00;
	display:none;
	margin-top:10px;
}
.mes .contr .detail span {
	text-align:right;
	display:block;
	color:#FF9900;
	cursor:pointer;
	margin-top:5px;
	margin-right:10px;
}
.mes .contr .detail p {
	text-indent:20px;
}
.mes .reply {
	width:500px;
	/*height:100px;*/
	margin:15px;
	border:1px dotted #999999;
	background:#FFFFF4;
}

.actionMsg{
	margin:10px auto;
	width:600px;
	text-align:center;
	background:#ffff66;
	font-size:14px;
	color:red;
	line-height:2em;
}