/*内容*/
body{background:#f0eff5;}
.YFbox{width:100%; height:auto; margin-bottom:0.2rem; border-bottom: 1px solid #ccc; background: #fff; }
.dingBox{width:100%; height:auto; border-bottom: 1px solid #ccc; font-size: 0;}
.dingCenter{width:0.84375rem; margin:0 auto; font-size: 0;}

.dingCenter .dingTit{font-size: 0; width:0.9rem; margin:0 auto; padding:0.05625rem 0; }
.dingCenter .DThao{width:100%; height:auto;}
.dingCenter .DDzt{width:100%; height:auto; color:#65c071;font-size:0.04rem;}
.dingCenter .dingTit span{font-size:0.046rem;}
.dingCenter .img{width:0.071875rem; height:0.071875rem;font-size: 0; margin-right:0.028rem;}
.dingCenter .dinghao{margin-top:0.008rem; font-size: 0.0375rem;}
.shouHuo{font-size: 0; background: url("../images/borderDot.png") no-repeat left top; background-size: 100% 2px; height:0.146875rem; line-height: 0.146875rem;}
.shouHuo span{font-size: 0.0375rem;}
.shouHuo .SHname{margin-right:0.046875rem;}
.diZhi{font-size: 0; background: url("../images/borderDot.png") no-repeat left top; background-size: 100% 2px; height:auto; padding:0.046875rem 0;}
.diZhi span{font-size: 0.0375rem;}
.diZhi .LTit{ display:inline-block; height: 100%;}
.diZhi .LTit,.shouHuo .LTit{margin-right:0.1rem; width:0.2rem; display: block;  color:#999; }
.diZhi .detail{display:block;  width:0.5rem;height:auto; line-height:0.06rem; }
.dinggoods{ margin-left:0.04rem; height:auto;}
.dinggoods .dingTit span{font-size:0.04rem; padding:0.04rem 0;}
.dinggoods .dingimg{ padding:0.04rem 0; border-top: 1px solid #ccc;}
.dinggoods .dingimg .img{width:0.276rem; height:0.195rem; margin-right: 0.04rem;}
.dinggoods .nameprice{height:0.09rem; line-height:0.09rem; font-size:0.046rem; margin-bottom:0.016rem;}
.dinggoods .songFen{height:0.078rem; line-height:0.078rem; font-size:0.03rem; color: #999;}

.xinDetail{width:0.84375rem; margin:0 auto; font-size: 0;}
.xinDetail p{width:100%; height:0.14rem; line-height: 0.14rem; font-size: 0; background: url("../images/borderDot.png") no-repeat left bottom; background-size: 100% 2px; }
.xinDetail p:nth-last-of-type(1){background: none;}
.xinDetail span{font-size: 0.04rem;}
.xinDetail span.fl{color: #999;}
.xinDetail span.fr{color: #000;}
.xinDetail span.coff8{color:#ff843a;}
.xinxi{width:100%; height:auto; padding:0.059375rem 0 0.0375rem 0; border-bottom:1px solid #ccc; background:#f0eff5; font-size:0;}
.xinxi h1{ margin-left:0.046rem;  height:0.04375rem; line-height:0.04375rem; font-size:0.0375rem; border-left:3px solid #49becd; padding-left:0.025rem; }
.XDbot{width:100%; height:auto;position:fixed; left: 0; bottom:0; font-size: 0; overflow: hidden;background:#49becd;}
.XDbot a{display: block;float:left; width:49%; height:0.156rem; line-height: 0.156rem; text-align:center; font-size: 0.047rem; color: #fff;}
.XDbot a.zan{background:#49becd url("../images/xinK.png") no-repeat 0.1rem center; background-size:0.053rem 0.046rem;border-right:1px solid #fff;}
.XDbot a:link,.XDbot a:visited,.XDbot a:active{color:#fff;}

