/*内容*/
body{background:#f0eff5;}
.ff5{width:100%; height:0.046875rem; border-bottom:1px solid #ccc; background:#f0eff5;}

.ZJTiaobox{background: #fff; width:100%; height:auto; border-top: 1px solid #ccc; border-bottom:1px solid #ccc; margin-top:0.046875rem;}
.ZJTiao{margin-left:0.04rem; background: #fff;}
.ZJTiao p{border-bottom:1px solid #ccc;  height:0.15rem; line-height: 0.15rem;}
.ZJTiao p span{margin-left:0.134rem; font-size:0.04375rem; color:#6a6a6a;}
.ZJTiao p a{display: block;  margin-right:0.04rem; width:0.0375rem;height:100%; background: url("../images/right.png") no-repeat center; background-size:0.0234rem 0.0375rem; }
.ZJTiao .pFen{background:url("../images/fen.png") no-repeat left center; background-size: 0.067rem;}
.ZJTiao .pXiaoXi{background:url("../images/XinXi2.png") no-repeat left center; background-size: 0.067rem;}
.ZJTiao .pBanBen{background:url("../images/BanBen.png") no-repeat left center; background-size: 0.067rem; border:none;}
.ZJTiao .paboutme{background:url("../images/aboutme.png") no-repeat left center; background-size: 0.067rem; border:none;}
.ZJTiao .pBanBen a{font-size: 0.04375rem; color:#bababa;margin-right:0.04rem; width:0.3rem; text-align: right; background: none;}
.ZJTiao .pXiaoXi a{width:0.12rem;height:100%; background: url("../images/KGK.png") no-repeat right center; background-size:0.1015625rem 0.071875rem;}
.ZJTiao .pXiaoXi a.fxGuan{background: url("../images/KGG.png") no-repeat right center; background-size:0.1015625rem 0.071875rem;}
.botLogin{width:100%; height:0.15rem; line-height: 0.15rem; background: #fff; border-bottom:1px solid #ccc;}
.botLogin a{font-size:0.04375rem;}
.botLogin a:link,.botLogin a:visited,.botLogin a:active{color:#6a6a6a;}


