/*内容*/
body{background:#f0eff5;}
.YJbox{width:100%; height:auto; background: #fff;}
.YJtxt{width:92%; height:0.275rem; margin:0 auto; padding:0.04rem; }
.YJtxt textarea{max-height:0.275rem; width:100%;}
.BaoCun{width:100%; height:auto;padding:0.106rem 0 0.02rem; background:#f0eff5; }
.BaoCunBtn{ display:inline-block; width:0.92rem; height:0.13rem; line-height: 0.13rem; background:#49becd; color:#fff; text-align: center; border-radius: 4px; font-size: 0.05rem;}
