*{margin:0;padding:0;}
html,body{font-family: "PingFang SC", "Microsoft Yahei", "hiragino sans gb", Helvetica, Arial, Tahoma;}

#header{position:fixed; left:0; top:0; z-index: 100; width: 100%; height:86px; line-height: 86px; background: #243165;}

#header .logo{float: left; padding-top:25px;}
#header .logo img{display: block; width:141px; height: auto;}
#header .content{border-bottom: 1px solid rgba(255,255,255,0.2);}
.nav_box{float: right; color: #fff; }
#nav li{display: inline-block; padding:0 15px; color: #fff;}
.main{width: 90%;}
#header .logo{ width: 100%; height: 36px;}
#header .logo img{margin:0 auto; height: 100%; width: auto;}
#header {  border-bottom: 1px solid #62c4e1; }
#header .content {  border-bottom:none; }
#nav_shadow{position: fixed; left:-500px; top:0; width: 100%; height: 100%;  z-index: 10; background: rgba(0,0,0,0.3);}
#nav_shadow.bg{ background: rgba(0,0,0,0.3);}
#nav{  background: #3ab6d9; width: 60%; height: 100%; position: absolute; left:0; top:0; box-shadow: 0 4px 4px rgba(0,0,0,0.1); overflow: auto; box-sizing: border-box; padding:80px 10px;}
#nav li{display: block; width: 100%; height:40px; line-height: 40px; font-size: 18px; text-align: left;}
#nav li:nth-of-type(1){padding-top: 10px;}



#nav_shadow.xchu{

	animation: xchu 500ms ease;
	-webkit-animation: xchu 500ms ease;
	-moz-animation: xchu 500ms ease;
	-ms-animation: xchu 500ms ease;

	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;

}
@-webkit-keyframes xchu {
	0% {
		transform:translateX(0);
		-ms-transform:translateX(0); 	/* IE 9 */
		-moz-transform:translateX(0); 	/* Firefox */
		-webkit-transform:translateX(0); /* Safari 和 Chrome */
		-o-transform:translateX(0);
	}
	100% {
		transform:translateX(500px);
		-ms-transform:translateX(500px); 	/* IE 9 */
		-moz-transform:translateX(500px); 	/* Firefox */
		-webkit-transform:translateX(500px); /* Safari 和 Chrome */
		-o-transform:translateX(500px);
	}
}

@keyframes xchu {
	0% {
		transform:translateX(0);
		-ms-transform:translateX(0); 	/* IE 9 */
		-moz-transform:translateX(0); 	/* Firefox */
		-webkit-transform:translateX(0); /* Safari 和 Chrome */
		-o-transform:translateX(0);
	}
	100% {
		transform:translateX(500px);
		-ms-transform:translateX(500px); 	/* IE 9 */
		-moz-transform:translateX(500px); 	/* Firefox */
		-webkit-transform:translateX(500px); /* Safari 和 Chrome */
		-o-transform:translateX(500px);
	}
}
#nav_shadow.xjin{
	animation: xjin 500ms ease;
	-webkit-animation: xjin 500ms ease;
	-moz-animation: xjin 500ms ease;
	-ms-animation: xjin 500ms ease;

	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
}
@-webkit-keyframes xjin {
	0% {
		transform:translateX(500px);
		-ms-transform:translateX(500px); 	/* IE 9 */
		-moz-transform:translateX(500px); 	/* Firefox */
		-webkit-transform:translateX(500px); /* Safari 和 Chrome */
		-o-transform:translateX(500px);
	}
	100% {
		transform:translateX(0);
		-ms-transform:translateX(0); 	/* IE 9 */
		-moz-transform:translateX(0); 	/* Firefox */
		-webkit-transform:translateX(0); /* Safari 和 Chrome */
		-o-transform:translateX(0);
	}
}

@keyframes xjin {
	0% {
		transform:translateX(500px);
		-ms-transform:translateX(500px); 	/* IE 9 */
		-moz-transform:translateX(500px); 	/* Firefox */
		-webkit-transform:translateX(500px); /* Safari 和 Chrome */
		-o-transform:translateX(500px);
	}
	100% {
		transform:translateX(0);
		-ms-transform:translateX(0); 	/* IE 9 */
		-moz-transform:translateX(0); 	/* Firefox */
		-webkit-transform:translateX(0); /* Safari 和 Chrome */
		-o-transform:translateX(0);
	}
}


   

/*meau*/
 .meau{display: block; position: absolute; left:8px; top:0; z-index: 12; width: 40px; height: 86px; }
.menu-open #menu-btn {
    -webkit-transform: translate3d(-20px, -50%, 0) rotateZ(45deg);
    transform: translate3d(-20px, -50%, 0) rotateZ(45deg);
    -webkit-transition: -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1) 666ms;
    transition: -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1) 666ms;
    transition: transform 666ms cubic-bezier(.666, 0, .333, 1) 666ms;
    transition: transform 666ms cubic-bezier(.666, 0, .333, 1) 666ms, -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1) 666ms
}

.menu-open #menu-btn:before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform 333ms cubic-bezier(.666, 0, .333, 1) 1332ms;
    transition: -webkit-transform 333ms cubic-bezier(.666, 0, .333, 1) 1332ms;
    transition: transform 333ms cubic-bezier(.666, 0, .333, 1) 1332ms;
    transition: transform 333ms cubic-bezier(.666, 0, .333, 1) 1332ms, -webkit-transform 333ms cubic-bezier(.666, 0, .333, 1) 1332ms
}

.menu-open #menu-btn:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 666ms cubic-bezier(.666, 0, .333, 1) 666ms, -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1) 666ms;
    transition: opacity 666ms cubic-bezier(.666, 0, .333, 1) 666ms, -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1) 666ms;
    transition: opacity 666ms cubic-bezier(.666, 0, .333, 1) 666ms, transform 666ms cubic-bezier(.666, 0, .333, 1) 666ms;
    transition: opacity 666ms cubic-bezier(.666, 0, .333, 1) 666ms, transform 666ms cubic-bezier(.666, 0, .333, 1) 666ms, -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1) 666ms
}

.menu-open #menu-btn #menu-btn-icon:after, .menu-open #menu-btn #menu-btn-icon:before {
    background-color: #fff;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: background-color 333ms linear 333ms, -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1);
    transition: background-color 333ms linear 333ms, -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1);
    transition: transform 666ms cubic-bezier(.666, 0, .333, 1), background-color 333ms linear 333ms;
    transition: transform 666ms cubic-bezier(.666, 0, .333, 1), background-color 333ms linear 333ms, -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1)
}

#menu-btn {
    cursor: pointer;
    height: 12px;
    left: 0px;
    padding: 20px;
    position: absolute;
    top: 40px;
    -webkit-transform: translate3d(-20px, -50%, 0);
    transform: translate3d(-20px, -50%, 0);
    -webkit-transition: -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1) 333ms;
    transition: -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1) 333ms;
    transition: transform 666ms cubic-bezier(.666, 0, .333, 1) 333ms;
    transition: transform 666ms cubic-bezier(.666, 0, .333, 1) 333ms, -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1) 333ms;
    width: 18px;
    z-index: 2
}

#menu-btn:after,  #menu-btn:before {
    content: "";
    position: absolute
}

#menu-btn:before {
    background-color: #fff;
    height: 18px;
    left: 28px;
    top: 17px;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: -webkit-transform 333ms cubic-bezier(.666, 0, .333, 1);
    transition: -webkit-transform 333ms cubic-bezier(.666, 0, .333, 1);
    transition: transform 333ms cubic-bezier(.666, 0, .333, 1);
    transition: transform 333ms cubic-bezier(.666, 0, .333, 1), -webkit-transform 333ms cubic-bezier(.666, 0, .333, 1);
    width: 2px
}

#menu-btn:after {
    border-radius: 100%;
    border: 2px solid #fff;
    height: 40px;
    left: 7px;
    opacity: 0;
    top: 4px;
    -webkit-transform: scale(.72);
    transform: scale(.72);
    -webkit-transition: opacity 666ms cubic-bezier(.666, 0, .333, 1) 333ms, -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1) 333ms;
    transition: opacity 666ms cubic-bezier(.666, 0, .333, 1) 333ms, -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1) 333ms;
    transition: opacity 666ms cubic-bezier(.666, 0, .333, 1) 333ms, transform 666ms cubic-bezier(.666, 0, .333, 1) 333ms;
    transition: opacity 666ms cubic-bezier(.666, 0, .333, 1) 333ms, transform 666ms cubic-bezier(.666, 0, .333, 1) 333ms, -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1) 333ms;
    width: 40px
}

#menu-btn #menu-btn-icon {
    background-color: #fff;
    height: 2px;
    left: 20px;
    position: absolute;
    top: 25px;
    -webkit-transition: background-color 333ms linear;
    transition: background-color 333ms linear;
    width: 18px
}

#menu-btn #menu-btn-icon:after, #menu-btn #menu-btn-icon:before {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: background-color 333ms linear, -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1) 999ms;
    transition: background-color 333ms linear, -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1) 999ms;
    transition: transform 666ms cubic-bezier(.666, 0, .333, 1) 999ms, background-color 333ms linear;
    transition: transform 666ms cubic-bezier(.666, 0, .333, 1) 999ms, background-color 333ms linear, -webkit-transform 666ms cubic-bezier(.666, 0, .333, 1) 999ms;
    width: 100%
}

#menu-btn #menu-btn-icon:before {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0)
}

#menu-btn #menu-btn-icon:after {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0)
}
/*meau end*/
