#index_swiper{}
#index_swiper img{width: 100%; height: 500px; }
#index_swiper .swiper-pagination-bullet{background: rgba(0,0,0,0.8); opacity: 0.6; width:32px; height:6px; border-radius: 0;}
#index_swiper .swiper-pagination-bullet-active{background: #fff;  opacity: 1;}
.ind_left_cont{width: 868px;}
.ind_news_cont{padding-top: 26px;}
.ind_news_cont>div{float: left; width: 274px; height: 270px; margin-bottom: 18px; }
.ind_news_cont>div img{display: block; width: 100%; height: 184px;}
.ind_news_cont>div.img1{width: 568px; }
.ind_news_cont>div.img1 .hot{position: absolute; left:-7px; top:16px; }
.ind_news_cont>div.img1 img{width: 100%; height: 100%;}
.ind_news_cont>div.img1 p{position: absolute; left:0; bottom:0; width: 568px; height:87px; background: url("../images/shadow.png") no-repeat 0 0; color: #fff; font-size: 18px; line-height: 100px; text-indent: 2em;}
.ind_news_cont>div.img3 p{height:84px; border-left:1px solid #eee; border-bottom: 1px solid #eee; border-right: 1px solid #eee; padding:16px 12px; box-sizing: border-box; font-size: 18px; }
.ind_recommander{}
.ind_recommander_cont{padding-top: 26px;}
.ind_recommander_cont .img{float: left; width:202px; height:272px; position: relative; margin-right: 20px;}
.ind_recommander_cont .img img{ width:100%; height:100%;}
.ind_recommander_cont .img:nth-last-of-type(1){margin-right:0;}
.ind_recommander_cont .img .bot{position: absolute; left:0; bottom:0; background:rgba(0,0,0,0.5); color: #fff; height:100px; width: 100%; text-align: center; font-size: 16px;}
.ind_recommander_cont .img .tit{font-size: 24px; padding-top: 20px; padding-bottom: 6px;}
.ind_right_cont{width: 264px;}
.ind_right_cont .hot{padding:0 16px; background: #fff; border-radius: 6px;}
.ind_right_cont h2{height: 52px; line-height: 52px; font-weight: 600; font-size: 18px; color: #666; background: url("../images/line1.png") no-repeat 0 bottom;}
.ind_right_cont h2 img{position: relative; top:-12px;}
.ind_right_cont .hot_nav{font-size: 0;border:1px solid #e82c2c; border-radius: 2px; overflow: hidden; margin:15px 0;}
.ind_right_cont .hot_nav span{display: inline-block; width: 33.3%; height: 26px; line-height: 26px; text-align: center; font-size: 14px; cursor: pointer; color: #e82c2c;}
.ind_right_cont .hot_nav span:nth-of-type(2){border-right: 1px solid #e82c2c; border-left:1px solid #e82c2c; box-sizing: border-box;}
.ind_right_cont .hot_nav span.on{color: #fff; background: #e82c2c;}
.ind_right_cont .hot_man{padding-top: 10px; padding-bottom: 10px; border-radius: 6px;}
.ind_right_cont .hot_mode{overflow: hidden; padding-bottom: 18px;}
.ind_right_cont .hot_mode img{width: 48px; height: 48px; border-radius: 50%; float: left;}
.ind_right_cont .hot_mode p:nth-of-type(1){width: 168px; float: right; font-size: 14px; color: #333;}
.ind_right_cont .hot_mode p:nth-of-type(2){width: 168px; float: right; font-size: 12px; color: #999;}
.ind_right_cont .honor{padding:0 16px 10px; background: #fff; border-radius: 6px;}
.ind_right_cont .honor_rank{}
.ind_right_cont .honor_mode{padding-bottom: 16px;}
.ind_right_cont .honor_mode .rank{float: left; width: 36px; height: 48px; text-align: center; line-height: 48px; margin-right: 8px;}
.ind_right_cont .honor_mode .rank span{display: inline-block; width:24px; height:24px; line-height: 24px; border-radius: 50%; background: #eaeaea; color: #999; font-size: 12px;}
.ind_right_cont .honor_mode img{float: left; width: 48px; height: 48px; border-radius: 50%; margin-right:12px;}
.ind_right_cont .honor_mode .num{float: right; height: 48px; line-height: 48px; font-size: 16px; color: #666;}
.ind_right_cont .honor_mode .tit{width: 100px; font-size: 14px; color: #333; padding:4px 0 2px;}
.ind_right_cont .honor_mode .lv{font-size: 12px; color: #ff9d00;}
.ind_right_cont .honor_mode:nth-of-type(1) .rank{background: url("../images/n1.png") no-repeat center center;}
.ind_right_cont .honor_mode:nth-of-type(2) .rank{background: url("../images/n2.png") no-repeat center center;}
.ind_right_cont .honor_mode:nth-of-type(3) .rank{background: url("../images/n3.png") no-repeat center center;}
.ind_right_cont .honor_mode:nth-of-type(1) .num,.ind_right_cont .honor_mode:nth-of-type(2) .num,.ind_right_cont .honor_mode:nth-of-type(3) .num{ color: #e82c2c;}


.hot_banner{width: 100%; height: 146px; background: url("../images/hot_bg.jpg") no-repeat center center; background-size:100% 100%; }
.hot_banner img{padding-top:38px;}
.hot_left{width: 718px;}
.hot_tap{ border-bottom:2px solid #eceef4; width: 100%; box-sizing: border-box;}
.hot_tap span{display: inline-block; height:68px; line-height: 68px; box-sizing: border-box; padding:0 10px; position: relative; bottom:-2px; cursor: pointer;}
.hot_tap span.on{display: inline-block; height:68px; line-height: 68px; border-bottom: 2px solid #ee1c25; color: #ee1c25;}
.hot_cont{}
.hot_cont_mode{padding-top: 26px; padding-bottom: 30px; border-bottom: 1px solid #e5e5e5;}
.hot_cont_mode .top_tit{overflow: hidden;}
.hot_cont_mode .photo{float: left; width: 48px; height: 48px; border-radius: 50%; margin-right: 14px;}
.hot_cont_mode .tit{font-size: 16px; color: #333; padding-top: 6px; padding-bottom: 2px;}
.hot_cont_mode .time{font-size: 12px; color: #999;}
.hot_cont_mode .xin{float: right; height: 48px; cursor: pointer;}
.hot_cont_mode .xin img{padding-top: 11px;}
.hot_cont_mode .article_tit{font-size: 18px; padding-left: 40px; background: url("../images/bt.png") no-repeat 0 center; margin:10px 0; color:#333; font-weight: 600;}
.hot_cont_mode .article_txt{font-size: 14px; color:#666; padding-bottom: 10px; }
.hot_cont_mode .article_txt .zkbtn{ color:#ee1c25; padding-right: 14px; background: url("../images/zk.png") no-repeat right center; cursor: pointer; }
.hot_cont_mode .article_imgs{overflow: hidden; padding-bottom: 10px;}
.hot_cont_mode .article_imgs img{ float: left; margin:5px; width: 210px; height: 210px;}
.hot_cont_mode .article_bot{color: #666; font-size: 12px;}
.hot_cont_mode .article_bot .views{padding-left:26px; background: url("../images/ly.png") no-repeat 0 center; margin-left:66px;}
.hot_cont_mode .article_bot .zan{float: right; padding-left: 20px;  background: url("../images/zan.png") no-repeat 0 center; cursor: pointer;}
.hot_cont_mode .article_bot .msg{float: right; padding-left: 20px;  background: url("../images/msg.png") no-repeat 0 center; cursor: pointer; margin-left: 30px;}
.hot_cont_mode .article_mp4{width: 602px; height: 342px; position: relative; padding-bottom: 16px;}
.hot_cont_mode .article_mp4 img{width: 100%; height:100%;}
.hot_cont_mode .article_mp4 .play_btn{width: 72px; height:72px; position: absolute; left:265px; top:135px; cursor: pointer;}
.hot_load_more{width: 100%; text-align: center; height:40px; line-height: 38px; background: #efefef;}
.hot_load_more span{height: 40px; display: inline-block; font-size: 14px; color: #666; padding-right:20px; background: url("../images/load.png") no-repeat right center; cursor: pointer;}

.hot_right{width: 344px; border-top: 2px solid #ee1c25; margin-top: 34px; background: #f4f5f6; border-radius: 4px;}
.hot_right h2{font-size: 18px; line-height: 64px; font-weight: 600; padding-left: 20px;}
.hot_right .hot_man{padding-top: 10px; padding-bottom: 10px; width: 268px; margin:0 auto; border-radius: 6px;}
.hot_right .hot_mode{overflow: hidden; padding-bottom: 18px;}
.hot_right .hot_mode img{width: 74px; height: 74px; border-radius: 50%; float: left;}
.hot_right .hot_mode p:nth-of-type(1){width: 178px; float: right; font-size: 16px; padding:14px 0 4px; color: #333;}
.hot_right .hot_mode p:nth-of-type(2){width: 178px; float: right; font-size: 14px; color: #999;}

.info_tap{ height: 60px; line-height: 60px; border-bottom: 1px solid #d7d7d7; color: #666;}
.info_tap span{display: inline-block; width: 80px; text-align: center; cursor: pointer;}
.info_tap span:hover{color: #ee1c25;}
.info_tap span.on{ color:#ee1c25; font-size:16px;}
.info_left{width: 720px;}
.info_cont{}
.info_cont_mode{padding:18px 0; border-bottom: 1px solid #eee; overflow: hidden; cursor: pointer;}
.info_cont_mode .img{width:260px; height: 150px; float: left;}
.info_cont_mode .img img{width: 100%; height:100%;}
.info_cont_mode .txt{width: 420px; float: right;}
.info_cont_mode .tit{font-size: 22px; font-weight: 600; color: #333;}
.info_cont_mode .zanmsg{color: #666; font-size: 12px; margin-top: 16px; margin-bottom:30px;}
.info_cont_mode .zan{padding-left: 20px;  background: url("../images/zan.png") no-repeat 0 center; cursor: pointer; margin-right: 36px;}
.info_cont_mode .msg{padding-left: 20px;  background: url("../images/msg.png") no-repeat 0 center; cursor: pointer;}
.info_cont_mode .time{color:#999; font-size: 14px; }
.info_cont_mode .mp4{position: relative;}
.info_cont_mode .mp4 .play_btn{position: absolute; width:45px; height:45px; left:108px; top:53px; cursor: pointer;}
.info_cont_mode .ms{position: absolute; left:0; bottom:0; font-size: 12px; height:24px; line-height: 24px; background: rgba(0,0,0,0.5); color: #fff; padding:0 10px;}


.info_right{width: 344px; border-top: 2px solid #ee1c25; margin-top: 34px; background: #f4f5f6; border-radius: 4px;}
.info_right h2{font-size: 18px; line-height: 64px; font-weight: 600; padding-left: 20px;}
.info_right .info_tj{padding-top: 10px; padding-bottom: 10px; width: 298px; margin:0 auto; border-radius: 6px;}
.info_right .info_tj_mode{overflow: hidden; padding-bottom: 18px; cursor: pointer;}
.info_right .info_tj_mode img{width: 118px; height: 70px; float: right;}
.info_right .info_tj_mode .txt{width: 160px; float: left; font-size:15px; }
.info_right .info_tj_mode .ci{width: 160px; float: left; font-size:14px; color: #999; padding-top: 8px; }

.gzly_span{width: 316px; margin:0 auto; }
.gzly_span span{display: inline-block; cursor: pointer; width: 90px; height: 40px; line-height: 40px; background: #fff; text-align: center;margin:5px 6px;}
.gzly_span span.on{background:  #ee1c25; color: #fff;}

.fund_cont_mode{overflow: hidden; padding:20px 0; border-bottom: 1px solid #eee;}
.fund_cont_mode img{width:142px; height: 150px; float: left; margin-right: 32px; }
.fund_cont_mode .txt{width:440px; color: #666; }
.fund_cont_mode .tit{font-size: 22px; color:#333; padding-bottom: 16px;}
.fund_cont_mode .gzly span{display: inline-block; width: 64px; height: 26px; line-height: 26px; text-align: center; color: #333; font-size: 12px; background: #ededed; margin:3px;}
.fund_cont_mode .tzjd{padding-bottom: 16px; padding-top: 6px;}
.fund_cont_mode .tzjd span{font-size: 14px; color: #1e5b81;}
.fund_cont_mode .yx span{font-size: 14px; color: #1e5b81;}
.fund_cont_mode .goSite{height: 150px; }
.fund_cont_mode .goSite a{border:1px solid #ee1c25; display: inline-block; color: #ee1c25; width: 98px; height: 36px; text-align: center; line-height: 36px; font-size: 16px; cursor: pointer; margin-top: 55px;}
.goSite a,.goSite a:link,.goSite a:visited,.goSite a:active{ color: #ee1c25;}
.goSite a:hover{background: #f5f5f5;}

.tei_box{}
.tel_banner{width: 100%;}
.tel_banner{width: 100%; height:386px; background: url("../images/t_bg.jpg") no-repeat 0 0; background-size:100% 100%; }
.tel_banner h1{padding-top:120px; }
.tels_style_box{height: 310px; width: 1000px; margin:0 auto;}
.tels_style{width: 1000px; height:266px; padding:40px 0; background: #fff; position: absolute; top:-150px; left:0; box-shadow:0 10px 20px rgba(0,0,0,0.1) ; }
.tels_style .mode{float: left; height: 100%; width:240px; margin:0 46px; background: #f8f9fb; text-align: center;}
.tels_style .icon{height:62px; margin-top: 62px;}
.tels_style .name{font-size: 20px; color: #333; font-weight: 600; padding:24px 0 20px;}
.tels_style .txt{color: #666; font-size: 16px;}
.styles1 .icon{background: url("../images/t_icon1.png") no-repeat center center;}
.styles2 .icon{background: url("../images/t_icon2.png") no-repeat center center;}
.styles3 .icon{background: url("../images/t_icon3.png") no-repeat center center;}

.my_box{padding:30px 0 80px;}
.my_left{width: 216px; background: #f9f9f9;  border: 1px solid #eee; padding-bottom: 50px;}
.my_left ul{width: 100%;}
.my_left li{ padding-left: 26px; height:30px; line-height: 30px; margin:4px 0; font-size: 14px;  background: url("../images/c_li.png") no-repeat 14px center; }
.my_left li.tit1{height:56px; line-height: 56px; font-size: 18px;  border-bottom: 1px solid #eee; background: url("../images/r_li.png") no-repeat 14px center;  margin-top: 4px;}
.my_left li.tit2{height:50px; line-height: 50px; font-size: 18px;  border-top: 1px solid #eee; background: url("../images/r_li.png") no-repeat 14px center; margin-top: 8px; }
.my_left a{width: 100%; display: inline-block;}
.my_left a,.my_left a:link,.my_left a:visited,.my_left a:active{color: #333;}
.my_left li.on{background: #ee1c25 url("../images/f_li.png") no-repeat 14px center;}
.my_left li.on a{color: #fff; background: url("../images/right_li.png") no-repeat 168px center;}
.my_left a:hover{color: #ee1c25;}
.my_right{width:866px; padding-top: 16px; }
.myr_cont{border:1px solid #eee;}
.my_count_left{width: 294px;  height: 440px; border-right: 1px solid #eee; text-align: center;}
.my_count_left .tit{font-size: 15px; color: #666; padding-top: 60px; padding-bottom: 26px;}
.my_count_left .my_up_photo{width: 180px; height:180px; margin:0 auto;}
.my_count_left .my_up_photo img{width: 180px; height:180px;}
.my_count_left .my_up_btn{padding-top:20px;  cursor: pointer;}
.my_count_right{ min-height: 440px; padding-left: 120px;}
.my_count_right p{ height: 38px; line-height: 38px; margin-top: 20px; color: #666;}
.my_count_right p input{ height: 36px; border:1px solid #c3c7c8; width: 220px; padding:0 10px;}
.my_count_right .bcbtn{ height: 40px; width: 140px; background: #ee1c25; color: #fff; margin-left: 48px; margin-top: 30px; cursor: pointer;}
.my_count_right .bcbtn:hover{background: #de1a23;}

.release_box{}
.release_box .tit{display: inline-block; padding-left:12px; background: url("../images/r_li.png") no-repeat 0 center; font-size: 16px; color: #666;}
.release_box .classify{overflow: hidden; padding: 16px 0; width: 700px;}
.release_box .classify span{display: inline-block; float: left; width: 80px; height: 34px; line-height: 34px; text-align: center; color: #fff; background: #ccc; font-size: 12px; margin-right: 16px; margin-bottom: 10px;}
.relstyle{padding-bottom: 26px;}
.relstyle .tit{margin-right: 30px;}
.relstyle span{margin-right: 50px; cursor: pointer; display: inline-block; padding-left:24px; background: url("../images/f_dot.png") no-repeat 0 center;}
.relstyle span.on{background: url("../images/r_dot.png") no-repeat 0 center;}
.release_box .biaoti{padding-bottom: 20px;}
.release_box .biaoti input{width: 330px; height: 36px; padding:0 10px; border:1px solid #c3c7c8; margin-left: 10px;}
.release_box .jianjie{padding-bottom: 20px;}
.release_box .jianjie textarea{width: 330px; height: 100px; padding:10px 20px; border:1px solid #c3c7c8; margin-left: 10px;}
.release_up_imgs{ float: left; margin-left: 14px;}
.release_up_imgs .img{width: 114px; height: 114px; position: relative; float: left; margin-right: 10px; margin-bottom: 10px;}
.release_up_imgs .img img{width: 100%; height: 100%; display: block;}
.release_up_imgs .img span{width: 19px; height: 19px; position: absolute; right:0; top:0; display: block; background: url("../images/cloase.png") no-repeat 0 0; cursor: pointer;}
.rel_up_btn{cursor: pointer;}

.release_btn{margin-top: 70px; padding-bottom: 70px;}
.release_btn input{width: 340px; height: 40px; background: #de1a23; color: #fff; font-size: 16px;}

.login_top{width:100%; height:556px; padding-top: 100px; background: url("../images/lbg.jpg") no-repeat center center;background-size:100% 100%;}
.login_center{padding:30px 26px 20px; border-radius: 4px; margin:0 auto; background: #fff; width: 326px; }
.login_center .inpout{border:1px solid #e0e0e0; border-radius: 2px;  margin-top:15px; }
.login_center .inpout.not{border:1px solid #de1a23; box-shadow: 0 0 4px rgba(222,26,35,0.3); border-radius: 2px;  margin-top:15px; }
.login_center .inpout input{width: 100%; padding-left: 10px; height: 46px; line-height: 46px; }
.login_center .wjmm{height: 32px; line-height: 32px; font-size: 12px;}
.login_center .wjmm a,.login_center .wjmm a:link,.login_center .wjmm a:visited,.login_center .wjmm a:active{color: #999;}
.login_center .wjmm a{cursor: pointer;}
.login_center .wjmm a:hover{text-decoration: underline;}
.login_center .btn{width: 100%;}
.login_center .btn input{width: 100%; height:46px; line-height: 46px; font-size: 12px; color: #fff; background: #de1a23; cursor: pointer;}
.login_center .btn input:hover{background: #b9161d;}
.login_center .reg{height: 30px; line-height: 30px; color: #999; font-size: 12px; padding:14px 0 30px;}
.login_center .reg a{height: 30px; display: inline-block; border:1px solid #de1a23; border-radius: 15px; float: right; width: 60px; text-align: center;  color: #de1a23; font-size: 12px;}
.login_center .reg a:link,.login_center .reg a:visited,.login_center .reg a:active{ color: #de1a23;}
.login_center .reg a:hover{ background: #eee;}
.login_center .stit{text-align: center; font-size: 12px; background: url("../images/dtitng.png") no-repeat center center ;}
.login_center .sanf{text-align: center; margin-top: 20px;}
.login_center .sanf img{display: inline-block; margin:0 5px;}

.reg_box{border-radius: 4px; background: #fff; overflow: hidden; padding-bottom: 100px; margin:100px auto 100px;}
.reg_box .reg_tit{ background: #de1a23; color: #fff; height: 78px; line-height: 78px; font-size: 26px; text-align: center;}
.reg_box .reg_center{ width:330px; margin:0 auto; padding-top: 50px;}
.reg_box .reg_center .input{margin-top: 12px; }
.reg_box .reg_center .tit2{height:60px; line-height: 60px; font-size: 20px; text-align: center;}
.reg_box .reg_center .input input{height:46px; line-height: 46px; border:1px solid #e0e0e0; width: 100%; padding-left: 10px; border-radius: 2px; }
.reg_box .xy{height:52px; line-height: 52px; padding-left: 22px; font-size: 12px; color: #666; display: inline-block; background: url("../images/cho1.png") no-repeat 0 center; cursor: pointer; }
.reg_box .xy a,.reg_box .xy a:link,.reg_box .xy a:visited,.reg_box .xy a:active{color: #d36f45; }
.reg_box .xy a:hover{text-decoration: underline;}
.reg_box .btn input{width: 100%; height:46px; line-height: 46px; font-size: 12px; color: #fff; background: #de1a23; cursor: pointer;}
.reg_box .btn input:hover{background: #b9161d;}

.personal_nav{padding:20px 0;}
.personal_nav p{height: 50px; line-height: 50px; background: url("../images/r_li.png") no-repeat 15px center; text-indent:30px; border-bottom: 1px solid #eee; cursor: pointer;}
.personal_nav p:hover,.personal_nav p.on{background:#ee1c25; color: #fff;}
.personal_top{background: url("../images/per_bg.jpg") no-repeat center center; background-size:cover;  height:230px; padding-top:50px;}
.personal_top .img{width:98px; height:98px; border: 2px solid #fff; border-radius: 50%; overflow: hidden; margin:0 auto; }
.personal_top .img img{width:98px; height:98px; border-radius: 50%; }
.personal_top .name{width:306px; height:78px; line-height: 78px; text-align: center; color: #fff; font-size: 24px; margin:0 auto; background: url("../images/per_bg2.png") no-repeat center center; }
.personal_top_nav{border-bottom:1px solid #ccc; text-align: center;}
.personal_top_nav span{display: inline-block; padding:0 10px; box-sizing: border-box; margin:0 10px; height:60px; line-height: 60px; color: #666; cursor: pointer;}
.personal_top_nav span.on{border-bottom: 2px solid #ee1c25; color: #ee1c25;}

.sendCode{display: inline-block; width:98px; height:36px; line-height: 36px; text-align: center; border:1px solid #ee1c25; color: #ee1c25; font-size: 14px; margin-left: 10px;}
.sendCode,.sendCode:link,.sendCode:visited,.sendCode:active{color: #ee1c25;}
.sendCode:hover{background: #eee;}

.msgMode{padding:20px 0; border-bottom: 1px solid #eee; overflow: hidden; }
.msgMode img{float: left; width: 48px; height: 48px; border-radius: 50%;}
.msgMode .cont{float: left; width: 580px; margin-left: 10px;}
.msgMode .txt{font-size: 12px; line-height: 22px; color: #666; }
.msgMode .hand{font-size: 12px; float: right; width: 100px; text-align: right;}
.msgMode .hand .zkbtn{ background: url("../images/downs.png") no-repeat right center; height:30px; line-height: 30px; padding-right: 16px; cursor: pointer; margin-top: 36px; display: none;}
.msgMode .hand .zkbtn:hover{color: #ee1c25;}
.msgMode h2{font-size: 16px; font-weight: 600; padding-bottom: 16px;}
.msgMode h2 span{font-size: 12px; color: #666; margin-left: 15px;}
.msgMode .danx,#quanx{width: 18px; height: 18px; cursor: pointer;}
.handBtns{float: right;}
.handBtns i,.handBtns label{cursor: pointer; margin:0 10px; font-size: 12px;}
.handBtns .pldel{padding-left: 20px; background: url("../images/del.png") no-repeat 0 center;}
.handBtns .delsBtn{display: inline-block; height:26px; line-height: 26px; padding:0 6px; border-radius: 2px; background: #ee1c25; color: #fff;}
.handBtns .qxbtn{display: inline-block; height:24px; line-height: 24px; padding:0 6px; border-radius: 2px; background: #f4f4f4; color: #666; border:1px solid #ccc;}
.handBtns .label{}
#quanx{float: right; margin-top: 14px;}