@charset "utf-8";
/*
***移动端样式重置
全局引用***
 */
html,body{ font-family: "hiragino sans gb", Helvetica,"Microsoft Yahei", Arial, Tahoma; -webkit-tap-highlight-color:rgba(0,0,0,0);}
body,div,a,span,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl.dt.dd.form,button,input,textarea,th,td,img{margin: 0; padding: 0; outline:0; font-style:normal; border:none;font-weight:normal; font-size: 14px;}
table {border-collapse:collapse;border-spacing: 0}
caption, th, td { text-align: left; font-weight: normal}
a{ text-decoration:none;cursor:pointer;color:#999;}
input{ border:none;}
ol, ul ,li{list-style: none;}
i,em,strong{font-style:normal;}
img{  max-width: 100%;vertical-align: middle;border:none; display: block;}
input,select:focus{
    border-width:0;
    border-color:white;
    border-style:none;
    background:none;
    border:none;
    outline:medium;
    alpha:0;
    appearance:none;
    -webkit-appearance:none;
    -webkit-tap-highlight-color: transparent;
    /*-webkit-user-modify:read-write-plaintext-only;*/
}
input,button,select,textarea{outline:none}
textarea{resize:none}
/*修改input的placeholder的默认颜色*/
input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ccc;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ccc;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ccc;
}
/*公共样式  开始*/
.fl{float:left;}
.fr{float:right;}
.oh{overflow:hidden;}
.cb{clear:both;}
.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}
.bc{margin-left:auto; margin-right:auto;}
.fz0{font-size:0;}
.pr{position:relative;}
.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.none{display: none;}
.gap{height:14px; background: #f4f4f4;}
.bb{border-bottom: 1px solid #e6e6e6;}
.bt{border-top: 1px solid #e6e6e6;}
.pb50{padding-bottom: 50px;}

/*common*/
.ellipsis{overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.ellipsis2{overflow:hidden; text-overflow: ellipsis; display:-webkit-box; -webkit-line-clamp:2;
    -webkit-box-orient:vertical;}
/*common */

