.main{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}
.bytop{
    background: #fff;
    height: 70px;
    line-height: 70px;
}
.bytop .name{
    font-size: 26px;
}
.bytop img{
    width:38px;
    height:38px;
    padding-top: 16px;
    margin-right: 10px;
}
.bytop .lan a{
    display: inline-block;
    font-size: 18px;
    float: left;
}
.bytop .lan a,.bytop .lan a:link{
    color: #808080;
}
.bytop .lan a:nth-of-type(1){
    padding-right: 10px;
}
.bytop .lan a:nth-of-type(2){
    padding-left:12px;
    background: url("../images/line0.png") no-repeat 0 center;
    background-size:2px 12px ;
}
.by_section1{
    height: 700px;
    background:#1c8cfb url("../images/bg1.png") no-repeat 0 bottom; background-size: 100% auto;
}
.by_section1 .tit{
    font-size: 34px;
    color: #fff;
    padding-top:180px;
}
.by_section1 .downs{
    margin-top: 40px;
}
.by_section1 .downs a{
    display: inline-block;
    width:210px;
    height:68px;
    line-height: 68px;
    text-align: center;
    border:1px solid #fff;
    color: #fff;
    background: #2295ff;
}
.by_section1 .downs a:hover{
    background: #1d7fda;
}
.by_section1 .downs a:nth-of-type(1){
    margin-right: 20px;
}
.by_section1 .downs span{
    display: inline-block;
    height: 100%;
    padding-left:50px;
    font-size: 16px;
}
.by_section1 .ios span{
    background: url("../images/ios.png") no-repeat 0 center;
}
.by_section1 .android span{
    background: url("../images/android.png") no-repeat 0 center;
}
.by_section1 .img{
    padding-top: 90px;
}
.by_section2{
    height: 700px;
    border-bottom: 1px solid #ddd;
}
.by_section2 .tit{
    width: 396px;
    text-align: left;
    padding-top: 250px;
}
.by_section2 .p1{
    font-size: 30px;
    padding-bottom: 30px;
}
.by_section2 .p2{
    font-size: 20px;
    color: #999;
    line-height: 30px;
}
.by_section2 .img{
    padding-top: 110px;
}
.by_section3{
    height: 700px;
    background: #fbfbfb;
    border-bottom: 1px solid #ddd;
}
.by_section3 .p1{
    padding-top: 60px;
    font-size: 30px;
    padding-bottom: 10px;
}
.by_section3 .p2{
    font-size: 20px;
    color: #666;
    line-height: 30px;
}
.by_section3 .img img{
    margin:20px auto 0;
}
.by_section4{
    height: 270px;
    border-bottom: 1px solid #ddd;
}
.by_section4 .p1{
    padding-top: 70px;
    font-size: 30px;
    padding-bottom: 10px;
}
.by_section4 .p2{
    font-size: 20px;
    color: #666;
    line-height: 30px;
}
.bybot{
    height: 90px;
    line-height: 90px;
    font-size:16px;
    color: #666;
}