.statisticsBox {
	width: 100%;
	height: auto;
	min-height: 100%;
	padding-bottom: 0.1rem;
	min-width: 12rem;
	background: url("../images/bg1.jpg") no-repeat center center;
	background-size: cover;
}

.statisticsCenter {
	width: 13.4rem;
	height: auto;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 0.12rem;
}

#tabReturn {
	cursor: pointer;
}

.statisticsMid {
	height: 4.8rem;
	padding-top: 0.1rem;
}

.statisticsLeft {
	float: left;
	width: 4.8rem;
}

.total {
	background: url("../images/titbg5.png") no-repeat center center;
	background-size: 70% 100%;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;
	font-size: 0.13rem;
	color: #fff;
}

.return {
	width: 0.3rem;
	height: 0.3rem;
}

.total i {
	color: #f49b32;
	margin-left: 0.04rem;
}

.deifen {
	width: 2.4rem;
	height: 2.1rem;
	box-sizing: border-box;
	margin: 0.1rem 0.1rem 0 0;
	padding: 0 0.16rem 0 0.1rem;
	background: url("../images/defenbg.png") no-repeat center center;
	background-size: 100% 100%;
}

.deifen .tit {
	color: #fff;
	font-size: 0.14rem;
	height: 0.28rem;
	line-height: 0.28rem;
	padding-left: 0.05rem;
}

.ts {
	float: right;
	display: block;
	padding-top: 0.08rem;
	cursor: pointer;
}

.ts img {
	display: block;
	width: 0.14rem;
	height: auto;
}

.bmpm {
	width: 2.4rem;
	box-sizing: border-box;
	margin-top: 0.1rem;
	padding: 0 0.16rem 0 0.1rem;
	background: url("../images/bmphbg.png") no-repeat center center;
	background-size: 100% 100%;
}

.bmpm .tit {
	color: #fff;
	font-size: 0.14rem;
	height: 0.26rem;
	line-height: 0.26rem;
	padding-left: 0.1rem;
}

.bmpm .tit i {
	color: #01cff7;
	margin-left: 0.04rem;
}

.bmpm .more {
	color: #01cff7;
	float: right;
	display: block;
	height: 100%;
}

.qushi {
	width: 2.4rem;
	height: 1.99rem;
	box-sizing: border-box;
	margin: 0.1rem 0.1rem 0 0;
	padding: 0 0.16rem 0 0px;
	background: url("../images/defenbg.png") no-repeat center center;
	background-size: 100% 100%;
}

.qushi .tit {
	color: #fff;
	font-size: 0.14rem;
	height: 0.28rem;
	line-height: 0.28rem;
	padding-left: 0.08rem;
}

.bmpmList {}

.bmpmList ul {}

.bmpmList li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.01rem solid #064186;
	height: 0.48rem;
	line-height: 0.48rem;
	color: #fff;
	font-size: 0.12rem;
}

.bmpmList li:last-child {
	border: none;
}

.bmpmList li .rank {
	background: url("../images/rank.png") no-repeat center center;
	background-size: 100% 100%;
	font-size: 0.12rem;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	margin-top: 0.04rem;
	height: 0.3rem;
	line-height: 0.3rem;
	width: 0.3rem;
	text-align: center;
}

.bmpmList li .name {
	float: left;
	margin-left: 0.1rem;
}

.bmpmList li .status {
	float: right;
	display: flex;
	align-items: center;
	font-size: 0.12rem;
	width: 0.3rem;
	text-align: center;
}

.bmpmList li .status img {
	float: left;
	display: inline-block;
	height: 0.2rem;
}

.statisticsRight {
	float: right;
	width: 8.3rem;
	height: 4.25rem;
	margin-top: 0.04rem;
	background: url("../images/zdgzbg.png") no-repeat center center;
	background-size: 100% 100%;
}

.total_a {
	float: right;
	width: 8.1rem;
	background: url("../images/titbg4.png") no-repeat center center;
	background-size: 45% 100%;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;
	font-size: 0.13rem;
	color: #fff;
}

.statisticsRight .title {
	color: #fff;
	padding-left: 0.12rem;
	font-size: 0.14rem;
	height: 0.32rem;
	line-height: 0.32rem;
}

.statisticsRight .rule {
	color: #fff;
	text-align: center;
	font-size: 0.12rem;
	height: 0.5rem;
	line-height: 0.5rem;
	margin-top: -0.25rem;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.statisticsRight .rule span {
	padding: 0 0.06rem;
}

.statisticsRight .rule span img {
	margin-right: 0.04rem;
}

.zdgzList {}

.zdgzList ul {
	padding: 0.1rem 0.08rem;
}

.zdgzList li {
	float: left;
	width: 1.99rem;
	height: 1.6rem;
	margin: 0.02rem;
	background: rgba(255, 255, 255, 0.02);
}

.zdgzList li .tit {
	width: 1.2rem;
	height: 0.32rem;
	line-height: 0.32rem;
	margin: 0.18rem auto 0.18rem;
	text-align: center;
	color: #0DD9D6;
	font-size: 0.12rem;
	background: url("../images/titbg2.png") no-repeat center center;
	background-size: 100% 100%;
}

.zdgzList li .tit img {
	width: 0.06rem;
	height: auto;
	display: inline-block;
	margin-right: 0.04rem;
	position: relative;
	top: -0.02rem;
}

.zdgzList li .items {
	display: flex;
	justify-content: center;
}

.zdgzList li .items .item {
	width: 0.68rem;
	text-align: center;
}

.zdgzList li .items .item .img {
	background: url("../images/guang.png") no-repeat center bottom;
	background-size: auto 100%;
}

.zdgzList li .items .item .img img {
	width: 0.47rem;
	height: auto;
	display: block;
	margin: 0 auto;
	margin-bottom: -0.05rem;
}

.zdgzList li .items .item .name {
	margin-left: -0.05rem;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	width: 0.8rem;
	height: 0.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: url("../images/wenzi_bj.png") no-repeat center center;
	background-size: 100% 100%;
	padding-top: 0.05rem;
}

.zdgzList li .items .item .name span {
	font-size: 0.12rem;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	display: block;
	margin-top: -0.04rem;
	text-align: center;
}

.statisticsBot {
	overflow: hidden;
	margin-top: 0.1rem;
}

.zhengwu {
	width: 4rem;
	height: 2.1rem;
	float: left;
	position: relative;
	background: url("../images/zhengwubg.png") no-repeat center center;
	background-size: 100% 100%;
}

.zhengwu .title {
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	padding-left: 0.12rem;
	font-size: 0.14rem;
	height: 0.32rem;
	line-height: 0.32rem;
}

.zhengwu .rule {
	color: #fff;
	text-align: center;
	font-size: 0.12rem;
	height: 0.5rem;
	line-height: 0.5rem;
	padding-top: 0.16rem;
}

.zhengwu .rule span {
	padding: 0 0.06rem;
}

.zhengwu .rule span img {
	margin-right: 0.04rem;
	position: relative;
}

.datalv {
	width: 4.84rem;
	height: 2.1rem;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
	float: left;
	position: relative;
	background: url("../images/gxdatabg.png") no-repeat center center;
	background-size: 100% 100%;
}

.datalv .tit {
	margin-left: 0.7rem;
	font-size: 0.12rem;
}

.datalv .tit span {
	text-align: center;
	display: inline-block;
	width: 1.38rem;
	height: 0.3rem;
	line-height: 0.32rem;
	color: #fff;
	font-size: 0.12rem;
	background: url("../images/gxdatatit.png") no-repeat center center;
	background-size: 100% 100%;
}

.datalv .tit span:nth-child(2) {
	margin-left: 0.65rem;
}

.zaixian {
	width: 4.1rem;
	height: 2.1rem;
	float: right;
	position: relative;
	background: url("../images/zaixianbg.png") no-repeat center center;
	background-size: 100% 100%;
}

.zaixian .title {
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	padding-left: 0.12rem;
	font-size: 0.14rem;
	height: 0.32rem;
	line-height: 0.32rem;
}

.zaixian .rule {
	color: #fff;
	text-align: center;
	font-size: 0.12rem;
	height: 0.5rem;
	line-height: 0.5rem;
	padding-top: 0.2rem;
}

.zaixian .rule span {
	padding: 0 0.06rem;
}

.zaixian .rule span img {
	margin-right: 0.04rem;
	position: relative;
}

.chartsBox {}

.chartsBox canvas {
	position: relative;
}

.rule {
	color: #fff;
	text-align: center;
	font-size: 0.12rem;
	height: 0.4rem;
	line-height: 0.4rem;
}

.rule span {
	padding: 0 0.06rem;
}

.rule span img {
	margin-right: 0.04rem;
	position: relative;
}