.cp {
    cursor: pointer;
}

.pr {
    position: relative;
}

.fx_banner_lunbo li {
    cursor: default;
}

.fx_cardBox {
    position: absolute !important;
}

.fx_cardBox_hover tr {
    cursor: pointer;
}

.fx_kj_box {
    text-align: center;
}

.cqssc .a[data-v-5c66ed2a], .cqssc .number[data-v-5c66ed2a], .cqssc img[data-v-5c66ed2a] {
    float: left
}

.cqssc .number[data-v-5c66ed2a] {
    padding-top: 45px;
    padding-left: 40px
}

.cqssc .number em[data-v-5c66ed2a] {
    background: #e84245;
    border: 1px solid #b13032;
    background: linear-gradient(180deg, #e46062 2%, #c72c2e);
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    display: inline-block;
    line-height: 41px;
    text-align: center;
    font-weight: 100;
    margin: 0 5px;
    cursor: default
}

.cqssc a[data-v-5c66ed2a] {
    margin-top: 51px;
    margin-left: 32px
}

.floorDetail[data-v-1c2493ec] {
    margin-top: 15px !important;
    border-top: 2px dashed #e6e6e6;
    overflow: hidden;
    display: none;
    width: 970px !important;
    clear: both
}

.floorDetail p[data-v-1c2493ec] {
    margin: 10px 0;
    font-size: 14px;
    word-wrap: break-word
}

.floorDetail table[data-v-1c2493ec] {
    text-align: center;
    table-layout: fixed
}

.floorDetail table th[data-v-1c2493ec] {
    background-color: #4393be;
    color: #fff;
    font-weight: 100
}

.floorDetail table td[data-v-1c2493ec], .floorDetail table th[data-v-1c2493ec] {
    border: 1px solid #e6e6e6;
    height: 40px;
    font-size: 14px
}

.floorLine[data-v-1c2493ec] {
    background: url(../images/activityShaw.png) no-repeat;
    width: 100%;
    height: 15px;
    padding: 0 3px;
    margin-left: -3px
}

.floorDetail em[data-v-1c2493ec], .floorDetail i[data-v-1c2493ec] {
    font-size: 14px
}

.floorDetail em[data-v-1c2493ec] {
    margin-right: 15px
}

.floorDetail i[data-v-1c2493ec] {
    color: #f76727
}

.floorDetail a[data-v-1c2493ec] {
    font-size: 16px;
    color: #fff;
    background: #e4393c;
    border-radius: 4px;
    padding: 7px 18px
}

.floorDetail h3[data-v-1c2493ec] {
    display: block;
    background: #d2dbe0;
    width: 84px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    margin-top: 30px
}

.floorDetail h3 i[data-v-1c2493ec] {
    display: inline-block;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 10px solid #d2dbe0;
    position: absolute;
    margin-left: 14px
}

.floorDetail .disable[data-v-1c2493ec] {
    background: #d6d6d6;
    color: #999
}

.tbplus[data-v-1c2493ec] {
    position: relative;
    width: 145px
}

.tbplus em[data-v-1c2493ec] {
    position: absolute;
    right: -10px;
    top: -2px;
    font-size: 14px
}

.tbplus ins[data-v-1c2493ec] {
    border-bottom: 1px solid #7fbbdc;
    position: absolute;
    width: 147px;
    transform: rotate(15.2deg);
    left: -1px;
    top: 19px
}

.tbplus i[data-v-1c2493ec] {
    position: absolute;
    left: 12px;
    bottom: 3px;
    color: #fff
}

.showDetail[data-v-1c2493ec] {
    cursor: pointer
}

.activity {
    box-sizing: border-box
}

.activity .show a i {
    transform: rotate(180deg)
}

.activity .floor:first-child {
    margin-top: 15px
}

.floor {
    background: #fff;
    box-shadow: 0 4px 8px #c7c7c7;
    padding: 15px
}

.floor .floorTitleImg {
    float: left;
    width: 680px;
    height: 170px
}

.floor .floorRright {
    float: left;
    width: 290px;
    padding: 0 15px;
    box-sizing: border-box
}

.floor .floorRright h2 {
    font-size: 28px;
    font-weight: 100;
    margin: 0;
    color: #e4393c;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%
}

.floor .floorRright p {
    font-size: 14px;
    padding: 12px 0;
    height: 72px
}

.floor .floorRright a {
    font-size: 18px;
    display: block;
    line-height: 40px;
    width: 120px;
    background: #e4393c;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    padding-right: 18px;
    box-sizing: border-box
}

.floor .floorRright a i {
    position: absolute;
    margin-top: 15px;
    margin-left: 8px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #f09394;
    transition: .1s
}
.floor .floorRright .active  i{transform: rotate(180deg);}
.floorDetail {
    margin-top: 15px !important;
    border-top: 2px dashed #e6e6e6;
    overflow: hidden;
    display: none;
    width: 970px !important;
    clear: both
}

.floorDetail p {
    margin: 10px 0;
    font-size: 14px;
    word-wrap: break-word
}

.floorDetail table {
    text-align: center;
    table-layout: fixed
}

.floorDetail table th {
    background-color: #4393be;
    color: #fff;
    font-weight: 100
}

.floorDetail table td, .floorDetail table th {
    border: 1px solid #e6e6e6;
    height: 40px;
    font-size: 14px
}

.floorLine {
    background: url(http://imagess-google.com/system/pc/activity/activityShaw.png) no-repeat;
    width: 100%;
    height: 15px;
    padding: 0 3px;
    margin-left: -3px
}

.floorDetail em, .floorDetail i {
    font-size: 14px
}

.floorDetail em {
    margin-right: 15px
}

.floorDetail i {
    color: #f76727
}

.floorDetail a {
    font-size: 16px;
    color: #fff;
    background: #e4393c;
    border-radius: 4px;
    padding: 7px 18px
}

.floorDetail h3 {
    display: block;
    background: #d2dbe0;
    width: 84px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    margin-top: 30px
}

.floorDetail h3 i {
    display: inline-block;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 10px solid #d2dbe0;
    position: absolute;
    margin-left: 14px
}

.floorDetail .disable {
    background: #d6d6d6;
    color: #999
}
