
@charset "utf-8";
/*公共样式*/
/*Css reset*/
body, div,img, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote，th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li {list-style:none;}
a{ text-decoration:none;}
th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before, q:after{content:' '}
abbr,acronym{border:0;}
img{max-width: 100%; max-height:100%;}
button,input,select,option,textarea{margin:0px; padding: 0px; border: none;outline: none;}
body{ font-family: "Microsoft Yahei", Arial, Tahoma, "hiragino sans gb", Helvetica; text-align: center; -webkit-tap-highlight-color:rgba(0,0,0,0); }
html{font-size: 1080px;}
.main{width:85.18%;height:auto; margin-right: auto;margin-left: auto; text-align: center;}
.box{width:100%; height: auto; text-align: center; padding-top: 0.235rem;}
.cloth{background:#7ba4e3 url("../images/clothesBg.png") no-repeat 0.223rem  0.052rem; background-size:0.076rem 0.076rem ; height:0.183rem; line-height:0.183rem; font-size: 0.076rem; border-radius: 0.087rem; color:#fff;}
.cloth span,.house span,.digit span{margin-left: 0.152rem;}
.digit{background:#ed9f66 url("../images/digitBg.png") no-repeat 0.223rem  0.052rem; background-size:0.088rem 0.070rem ; height:0.183rem; line-height:0.183rem; font-size: 0.076rem; border-radius: 0.087rem; color:#fff; margin-top: 0.137rem;}
.house{background:#a797e4 url("../images/householdBg.png") no-repeat 0.223rem  0.052rem; background-size:0.076rem 0.076rem ; height:0.183rem; line-height:0.183rem; font-size: 0.076rem; border-radius: 0.087rem; color:#fff;margin-top: 0.137rem;}