*{margin:0; padding:0;}
body{font-family: "Microsoft Yahei", "hiragino sans gb", Helvetica, Arial, Tahoma;}
.pr{position: relative;}
.header{width: 100%; height:630px; background: url("../images/bg1.jpg") no-repeat center center; background-size:100% 100%;  }
.main{width:1000px; margin-left: auto; margin-right: auto;}
img{display: block;}
.header_center{height:100%;}
.header_left{width: 500px; height:640px; position: absolute; left:-10px; bottom:-80px;}
.header_right{width: 420px; height:460px; position: absolute; right:0; bottom:-40px; }
.header_right .down{margin-top: 32px; overflow: hidden;}
.header_right .down1{float: left;}
.header_right .down2{float: right;}
.header_right .ma{padding-top: 100px; overflow: hidden;}
.header_right .ma1{float: left; margin-right: 40px;}
.header_right .ma2{float: left;}
.swiper1_box{position: absolute; left:-20px; bottom:30px; width: 326px; height: 526px; background: url("../images/cel1.png") no-repeat center center; background-size:cover; }
.swiper2_box{position: absolute; right:-20px;  bottom:-10px; width: 326px; height: 649px; background: url("../images/cel2.png") no-repeat center center; background-size:cover; z-index: 10;}
.pro_txt{text-align: center; padding-bottom: 50px; color: #333; font-size: 20px;}
.pro_txt img{margin:0 auto; padding-bottom: 16px;}
.mt145{margin-top: 145px;}
.mb16{margin-bottom: 16px;}
.namered{font-size: 24px; color: #e9433d;}
.fun_box{background: #f8f8f8;}
.fun_box .tit{font-size: 55px; color: #494b4d; padding-top: 46px;}
.fun_box .txt{font-size: 20px; color: #333; padding-top: 24px; padding-bottom: 36px;}
.fun_box .img{width: 100%; margin:0 auto;}
.bot_box{text-align: center; line-height: 22px; padding:30px 0; font-size: 14px; color: #a7a8a8;}
.bot_box a,.bot_box a:link,.bot_box a:visited,.bot_box a:active{ color: #a7a8a8; text-decoration: none;}
.bot_box a:hover{color: #666;}
.swiper1_center{width: 234px; height: 416px; margin-top:42px;margin-left: 32px;}
.swiper2_center{width: 278px; height: 494px; margin-top:68px;margin-left: 20px;}